.heroSection{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 270px;
    gap : 30px
}

.heroTextContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heroText1{
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    width: 473px;
    height: 48px;
    color: var(--color-white);
}
.heroText2{
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    width: 556px;
    height: 48px;
    color: var(--color-white)
}

.heroImage{
    width: 20rem;
}

@media (max-width: 576px) {
    .heroSection{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 200px;
        gap : 0px
    }

    .heroText1{
        text-align: center;
        font-size: 16px;
        font-weight: 300;
        width: 300px;
        height: 30px;
        color: var(--color-white);
    }
    .heroText2{
        text-align: center;
        font-size: 16px;
        font-weight: 300;
        width: 350px;
        height: 30px;
        color: var(--color-white)
    }
}