.formWrapper{
    display: flex;
    height: 48px;
    align-items: stretch;
    width: 75%;
    justify-content: center;
}

.search{
    width: 35rem;
}

.searchButton{
    padding: 14px 20px;
    height: 100%;
    width: 66px;
    border-radius: 0px 8px 8px 0px;
    border: 1px solid var(--color-black);
    border-left: none;
}

#autocomplete{
    padding: 4px;
    color: var(--color-white);
}